#ifndef __{{ family|upper }}_IT_H
#define __{{ family|upper }}_IT_H

#ifdef __cplusplus
extern "C" {
#endif

/* Exported functions prototypes ---------------------------------------------*/
void SysTick_Handler(void);
{%- for d in dma_irqs %}
void {{ d.name }}_{{ d.stream }}_IRQHandler(void);
{%- endfor %}

{%- for t in tim_irq_bases %}
void {{ t }}_IRQHandler(void);
{%- endfor %}

#ifdef __cplusplus
}
#endif

#endif /* __{{ family|upper }}_IT_H */