#ifndef __MAIN_H
#define __MAIN_H

#ifdef __cplusplus
extern "C" {
#endif

/* Includes ------------------------------------------------------------------*/

#ifdef TZEN
    #include "secure_nsc.h"
#endif

#include "stdio.h"

#include "{{ family }}_hal.h"
#include "{{ family }}_clock.h"

{%- if family == "stm32l5xx" %}
#include "icache.h" 
{%- endif %}
{% if has_uart %}
#include "uart.h"
{%- endif %}

{%- if has_dma %}
#include "dma.h"
{%- endif %}

{%- if has_timers %}
#include "tim.h"
{%- endif %}

{%- if has_timers %}
#include "trace.h"
{%- endif %}

{%- if has_gadgets %}
#include "gadgets.h"
{%- endif %}

/* MACROS ---------------------------------------------*/
#define TO_STRING(name) #name
#define PRINT_MACRO(x) TO_STRING(x)

/* Exported functions prototypes ---------------------------------------------*/
void Error_Handler(void);

#ifdef __cplusplus
}
#endif

#endif /* __MAIN_H */
