#ifndef __GADGETS_DEF_H__
#define __GADGETS_DEF_H__

{% for gadget, entries in gadgets.items() %}
  /* --- {{ gadget|capitalize }} Gadget --- */
  {% for entry in entries %}
#define {{ gadget }}_gadget_{{ entry.name.lower() }}  h{{ entry.name.lower() }}
    {% if entry.with_dma %}
#define {{ gadget }}_gadget_hdma_{{ entry.name.lower() }}_up  hdma_{{ entry.name.lower() }}_up
    {% endif %}
  {% endfor %}
{% endfor %}

#endif /* __GADGETS_DEF_H__ */
