#ifndef __TIM_H__
#define __TIM_H__

#ifdef __cplusplus
extern "C" {
#endif

#include "main.h"

/* --- TIM handle declarations --- */
{% for t in timers | map(attribute='name') | unique %}
TIM_HandleTypeDef h{{ t.lower() }};
{%- endfor %}

/* --- DMA Handle declarations --- */
{%- for t in timers | selectattr('has_dma') | map(attribute='request') | unique %}
DMA_HandleTypeDef hdma_{{ t.lower() }};
{%- endfor %}

/* --- MX_TIMx_Init prototypes --- */
{%- for t in timers %}
void MX_{{ t.name }}{% if t.ow_id > 0 %}_OW_{{ t.ow_id }}{% endif %}_Init(void);
{%- endfor %}

#ifdef __cplusplus
}
#endif

#endif /* __TIM_H__ */
