#ifndef __TIM_H__
#define __TIM_H__

#ifdef __cplusplus
extern "C" {
#endif

#include "main.h"

/* --- TIM handle declarations --- */
{%- for timer in timers %}
extern TIM_HandleTypeDef h{{ timer.name.lower() }};
{%- endfor %}

/* --- DMA handle declarations --- */
{%- for timer in timers %}
{%- if timer.has_dma %}
extern DMA_HandleTypeDef hdma_{{ timer.name.lower() }}_up;
{%- endif %}
{%- if timer.has_overwrite and timer.overwrite.has_dma %}
extern DMA_HandleTypeDef hdma_{{ timer.name.lower() }}_up_overwrite;
{%- endif %}
{%- endfor %}

/* --- MX_TIMx_Init prototypes --- */
{%- for timer in timers %}
void MX_{{ timer.name }}_Init(void);
{%- if timer.has_overwrite %}
void MX_{{ timer.name }}_Init_Overwrite(void);
{%- endif %}
{%- endfor %}

#ifdef __cplusplus
}
#endif

#endif /* __TIM_H__ */
