#ifndef __GADGETS_DEF_H__
#define __GADGETS_DEF_H__

{%- for gtype, entries in gadgets.items() %}
  /* --- {{ gtype | capitalize }} Gadget --- */
  {%- for g in entries %}

#define {{ gtype }}_gadget_{{ g.name | lower }}  h{{ g.name | lower }}
    {%- if g.with_dma %}
#define {{ gtype }}_gadget_hdma_{{ g.name | lower }}_up  hdma_{{ g.name | lower }}_up
    {%- endif %}

  {%- endfor %}
{%- endfor %}

#endif /* __GADGETS_DEF_H__ */
